.App {
	text-align: center;
}

.Switch{
	margin-left: 650px;
	margin-top: 50px;
}
.Bouton_switch {
	margin-left: 20px;
	padding-top: 10px;
}
.First{
	margin-right: 30px;
	width: 150px;
}

.Second{
	margin-right: 30px;
	width: 150px;

}
.Third{
	width: 150px;

}
